.grid{
    display: grid;
    grid-template-columns: 1fr;
    width: 75vw;
    align-self: center;
}

.padding{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 1366px) {
    .padding{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .grid{
        width: 85vw;
    }
}

@media only screen and (max-width: 1000px) {
    .padding{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .grid{
        width: 90vw;
    }
}

@media only screen and (max-width: 600px) {
    .grid{
        width: 100vw;
    }

    ul {
        list-style-type: none;
        padding-right: 40px
    }

    li:before {
        content: "";
        display: inline-block;
        width: 1rem;
    }
}

