.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 20vh;
    width: 50vw;
}

.griding {
    height: 150px;
    width: 250px;
}

.gridtext {
    grid-column-start: 2;
}

.grid2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 46vw;
    justify-items: start;
}