.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 25vh;
    width: 60vw;
}

.gridimg {
    height: 25vh;
    width: 250px;
}

.gridtext {
    grid-column-start: 2;
}

.grid2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 46vw;
    justify-items: start;
}