.grid{
    display: grid;
    grid-template-columns: 1fr;
}

.center{
    text-align: center;
}

.table-auto{
    table-layout: auto;
}

.padding{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 1366px) {
    .padding{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media only screen and (max-width: 800px) {
    .padding{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* unvisited link */
a:link {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: green;
  }
  
  /* selected link */
  a:active {
    color: green;
  }