.grid{
    display: grid;
    grid-template-columns: 1fr;
}

.padding{
    padding-left: 24rem;
    padding-right: 20rem;
}

@media only screen and (max-width: 800px) {
    .padding{
        padding-left: 4rem;
        padding-right: 1rem;
    }
}