.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: center;
    text-align: center;
}

.gridimg {
    height: 24.4vh;
    width: 200px;
    display: inline-block;
}

.gridtext {
    grid-column-start: 2;
}

.grid2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}
#display {
    display: inline-block;
}
#positioner {
    text-align: center;
}

.showtwolines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 19px;     /* fallback */
    max-height: 52px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
}

@media only screen and (max-width: 1200px) {
    .showtwolines {
        max-height: 71px;
        -webkit-line-clamp: 3;
    }
}

@media only screen and (max-width: 800px) {
    .showtwolines {
        max-height: 90px;
        -webkit-line-clamp: 4;
    }
}

@media only screen and (max-width: 500px) {
    .showtwolines {
        max-height: 128px;
        -webkit-line-clamp: 6;
    }
}