.homegrid{
    display: grid;
    grid-column: 1;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 12fr;
}

#about p{
    font-family: 'Roboto Slab', serif;
    font-weight: Light;
    line-height: 2;
}
.positioner {
    position: relative;
    right: 24px;
}
.logoStat {
    margin-right: 60px;
    padding-bottom: 40px;
    width: 120px;
    height: 150px;
}
.publisher {
    position: relative;
    right: 120px;
}
.positionMe {
    display: flex;
    justify-content: center;
    position: relative;
    right: 53px;
}
.text {
    margin-left: 0px;
}
.frontBias {
    margin-left: 100px;
}
