.homegrid{
    display: grid;
    grid-column: 1;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 12fr;
}

#about p{
    font-family: 'Roboto Slab', serif;
    font-weight: Light;
    line-height: 2;
}
.positioner {
    position: relative;
    right: 24px;
}
